!.vscode/extensions.json
!.vscode/tasks.json
*$py.class
*.cover
*.egg
*.egg-info/
*.idea
*.iml
*.ipr
*.iws
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.pyc
*.sage.py
*.so
*.spec
*.swp
*__pycache__
.Python
.cache
.config
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.idea/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/httpRequests
.idea/misc.xml
.idea/replstate.xml
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.local
.mypy_cache/
.pytest_cache/
.python-version
.qt_for_python
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.virtualenv
.webassets-cache
/site
ENV/
MANIFEST
__pycache__/
atlassian-ide-plugin.xml
build/
celerybeat-schedule
cmake-build-*/
com_crashlytics_export_strings.xml
coverage.xml
crashlytics-build.properties
crashlytics.properties
db.sqlite3
develop-eggs/
dist/
docs/_build/
docs/build/
downloads/
eggs/
env.bak/
env/
fabric.properties
htmlcov/
instance/
lib/
lib64/
local_settings.py
modules.xml
nosetests.xml
out/
parts/
pip-delete-this-directory.txt
pip-log.txt
pydm-*/
sdist/
target/
var/
venv.bak/
venv/
wheels/