repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ['--remove']

  - repo: https://github.com/psf/black
    rev: 21.5b1
    hooks:
      - id: black
        language_version: python3 # Should be a command that runs python3.6+
        args: ['--config', '.black', '-v']

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-implicit-str-concat

  - repo: local
    hooks:
      - id: version-update
        name: version-update
        description: Update project version
        entry: bash .version-update.hook
        language: system
