# @pnallin
# @robertpolli
# @rbatistacardoso
# @edupcoelho
# @anacso17

# --- default owners of the repo
* @pnallin

# --- subpackage
/src/siriushlacon/danfysik @rbatistacardoso
/tests/danfysik @rbatistacardoso

/src/siriushlacon/beaglebones @pnallin @robertpolli
/src/siriushlacon/countingpru @pnallin @robertpolli
/src/siriushlacon/mbtemp @pnallin @robertpolli
